# Copy this file to terraform.tfvars only if you want common values.
# Do not commit terraform.tfvars if it contains sensitive information.

aws_region   = "ap-south-1"
project_name = "terraform-cloud-platform"

# Use your corporate/VPN CIDR. Avoid 0.0.0.0/0 for SSH.
admin_cidr = "116.73.163.19/32"

enable_nat_gateway = true

extra_tags = {
  Owner      = "cloud-team"
  CostCenter = "engineering"
}
